body {
    background: #E6E8E6;
    min-height: 100%;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

html {
    height: 100%;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
 }

#title-bar {
    background: #4E4DFF;
    width: 100%;
    height: 30px;
}

#of-frame-main {
    height: 100%;
    width: 100%;
}

#buttons-wrapper {
    display: inline-block;
    position: relative;
    float: right;
    -webkit-app-region: no-drag;
}

.button {
    height: 20px;
    width: 20px;
    display: inline-block; 
    padding: 5px 10px;
}

.button:hover {
    background: rgb(56, 56, 189)
}

#close-button:hover {
    background: #B33A3A
}

.button-image {
    height: 20px;
    height: 20px;
    width: 20px;
}
